@section Styles{
    <link href="~/css/register.css" rel="stylesheet">
}

@section Scripts{
    <script src="~/js/register.js"></script>
}

<div id="errorAlert" class="alert alert-danger">
    Fix error(s) below to continue

</div>

<div id="savedAlert" class="alert alert-success">
    Car is registerd!

</div>


<div class="container register">
<div class="row">
    <div class="col-md-3 register-left">
        <h1>Register New Car</h1>
    </div>
    <div class="col-md-9 register-right">
                <div class="row register-form">
                    <div class="col-md-6">
                        <div class="form-group">
                            <h5>Price</h5><input type="number" class="form-control" placeholder="Daily Price *" id=txtPrice />
                        </div>
                        <div class="form-group">
                            <h5>Make</h5><input type="text" class="form-control" placeholder="Make of the car *" id=txtMake />
                        </div>
                        <div class="form-group">
                            <h5>Model</h5><input type="text" class="form-control" placeholder="Model of the Car *" id="txtModel" />
                        </div>
                        <div class="form-group">
                            <h5>Year</h5><input type="number" class="form-control"  placeholder="Year of the Car *" id="txtYear" />
                        </div>
                        <div class="form-group">
                            <h5>Seat Capacity</h5><input type="number" class="form-control" placeholder="Number of seat Capacity *" id="txtCapacity" />
                        </div>
                    </div>
                    <div class="col-md-6">
                         <div class="form-group">
                            <h5>Milage</h5><input type="number" placeholder="Milage of the Vehicle" class="form-control" id="txtMileage" />
                        </div>
                        <div class="form-group">
                            <h5>Image Url</h5><input type="text" placeholder="Images of vehicle" class="form-control" id="txtImageUrl" />
                        </div>
                        <div class="form-group">
                            <h5>Horse Power</h5><input type="number" class="form-control" placeholder="Horse Power *" id=txtHP />
                        </div>
                        <div class="form-group">
                            <h5>Cylinders</h5><input type="number" class="form-control" placeholder="Number of cylinders *" id=txtCyls />
                        </div>
                        <div class="form-group">
                            <h5>Description</h5><input type="text" class="form-control" placeholder="Quick Description *" id=txtDescription />
                        </div>
                        <button type="button" class="btnRegister"  id="btnSave">Save Car</button>
                    </div>
                </div>
    </div>
</div>
</div>

