@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <link href="~/css/home.css" rel="stylesheet">
}

<div class="text-center">
    <div>
        <p>Skip the rental counter</p>
        <h2 class="renterPlacementTrust-sectionTitle h3">We have what you need made easy!</h2>
        <div class="grid">
            <div class="grid-item grid-item--6 grid-item--medium6 grid-item--small6 grid-item--xsmall12">
                <div>
                    <div>
                        <img class="js-lazyLoad" width="48" height="48" src="https://d84g7x7n0gri.cloudfront.net/img/home/ic-car-photos.c09bd3b5.png" style="overflow: hidden;">
                    </div>
                    <div class="renterPlacementTrust-text">
                            <p class="renterPlacementTrust-title">Endless options

                            </p>
                            <p class="renterPlacementTrust-description">Choose from hundreds of models you won’t find anywhere else. Pick it up or get it delivered where you want it.</p>
                            <p></p>
                    </div>
                    <div class="grid-item grid-item--6 grid-item--medium6 grid-item--small6 grid-item--xsmall12">
                        <div class="renterPlacementTrust-item">
                            <div class="renterPlacementTrust-image">
                                <img class="js-lazyLoad" width="49" height="46" src="https://d84g7x7n0gri.cloudfront.net/img/home/ic-thumbs-up.b102fc90.png" style="overflow: hidden;">
                            </div>
                            <div class="renterPlacementTrust-text">
                                <p class="renterPlacementTrust-title">Insurance options included</p>
                                <p class="renterPlacementTrust-description">Drive confidently with your choice of protection plans — all plans include varying levels of liability insurance from Liberty Mutual provided through Turo Insurance Agency and physical damage protection.

                                </p><p></p>
                            </div>
                        </div>
                    </div>
                </div>
                            <div>
                                <a class="nav-link text-dark bookBtn" asp-area="" asp-controller="Catalog" asp-action="Index">Book The Perfect Car</a>
                            </div>
</div>
</div>
